* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 28, 28);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin-bottom: 15px;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#app {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: 600px;
    background-color: lightgreen;
    border: 3px solid lightblue;
    padding: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

.img-container img {
    width: 300px;
    height: 400px;
}